body{
  font-family: 'loto', sans-serif;
  max-width: 500px;
  margin: auto;
  padding: 1rem;
}
.vid{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.vidc{
    border: 1px solid #000;
    text-align: center;
    margin: 1rem 0;
}
.ht1{
  text-align: center;
  margin: 0 2rem;
}
.ht2{
  text-align: center;
}
.ht3{
  text-align: center;
  margin: 1rem;
}
h1{
  text-align: center;
  margin: 1rem;
}
.arr{
  text-align: center;
  font-size: 40px;
}
.imgc{
  border: 1px solid #000;
  margin: 1rem 0;
  padding: auto;
}
img{
  width: 480px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
h3{
  text-align: center;
}
h2{
  color: orangered;
  text-align: center;
  margin: 2rem;
}
.tamib{
  border: 2px solid #000;
  padding: 1rem;
}
#tamig{
  width: 450px;
  height: auto;
}
.last-sec{
  border: 2px solid #000;
  padding: 1rem;
}
.lat{
  width: 440px;
}
button{
  padding: 1rem 2rem;
  border-style: none;
  border-radius: 5px;
  background-color: orangered;
  display: block;
  margin: 0 auto;
  color: white;
  font-size: 27px;
}
.btnc{
  text-align: center;
  background-color: #000;
  border: 2px solid #fff;
  border-style: dashed;
  padding: 1rem;
  margin: 1rem 0;
  color: #fff;
}
.float{
  background-color: orangered;
  color: white;
  border-style: none;
  position: fixed;
  z-index: 9;
  bottom: 6%;
  left: auto;
  right: 6%;
  padding: 15px;
  border-radius: 50px;
  width: fit-content;
  font-size: 40px;
  animation: bounce 0.5s;
  animation-direction: alternate;
  animation-iteration-count: 1.2s;
}
@keyframes bounce {
  from { transform: translate3d(0, 0, 0);     }
  to   { transform: translate3d(0, 200px, 0); }
}
